* {
  box-sizing: border-box; 
}
body{
	background-color:#9AA1AC;
	color:white;
}
#container{
	background-color:#7A8392;
	width: 1500px;
	margin-right: auto;
	margin-left: auto;
}
#header {
	background-color: #7A8392;
	color white;
	text-align:center;
}
#content{
	padding: 100px;
}
#nav {
	width:300px;
}
#main{
	width:1000px;
	float: right;
}
#footer{
	clear: both;
}