html, body {
    margin:0;
    padding:0;
    height:100%;
}
body{
	background-color:#9AA1AC;
	color:white;
	font-family:Copperplate, Lucida Sans Typewriter, Courier New;
}
a{
	text-decoration: none;
	color:#C6CBD2;
}
#container{
	background-color:#7E8692;
	width: 1500px;
	margin-right: auto;
	margin-left: auto;
}
#block 
{
  width: 1010px;
  margin:auto;
  padding: 10px;
  border: 5px solid pink; 
  border-radius : 20px;
  
}
#header {
	background-color: #5E6776;
	color:white;
	text-align:center;
	padding:15px;
	font-size:20px;
	padding-top:50px;
}
#content{
	padding: 50px;
}
#nav ul{
	list-style-type: none;
	padding: 0px; 
	font-size: 17px;
	text-align: center;
}
#nav a {
	text-align: center;
}
#nav {
	width:200px;
	float: left;
	text-align: center;
	color:#C6CBD2;
}
/* Index page 
*/
#navmain {
  background-color:#C6CBD2;
  height:50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#navmain  a{
  display: block; 
  text-align: center; 
  align-content:center;
  padding: 10px 50px;
  text-decoration:none; 
  font-family: 'Copperplate';
  font-size: 30px;
  color:white;
}
#navmain ul{
  margin:0;
  text-align:center;
}
#navmain li{
  display: inline-block;
}
/* Everything */
.two{
	font-weight: bold;
}
#main{
	width:1100px;
	float:right;
}
#footer{
	clear: both;
	padding:20px;
	background-color: #999999;
	text-align: right
}
h1, h2, h3 {
    color: white;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 16px;
}

#img1 { 
                    opacity: 0.7;
                    filter: alpha(opacity=50);
                    height: auto;
                    width:500px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 8px;
                }

                <style> 
                    img { 
                      height: auto;
                      width:500px;
                      display: block;
                      margin-left: auto;
                      margin-right: auto;
                      border-radius: 8px;
                    }
                </style>